# Jupyter
jupyterlab-git
jupyterlab-myst
jupyterlab-rise
jupyter-book
nbstripout
tqdm

# Numerics
numpy
scipy
#sympy

# Visualization
matplotlib

# Data Science
#pandas

# Special
#jax
#astropy
#h5py
